@import "compass/css3";
@import "bootstrap";

$border-radius: 4px;

$button-bg-color: #333;
$button-bg-color-hover: #444;

$button-fg-color: #fff;
$button-fg-color-hover: #fff;

$header-bg-color: #333;

$focused-input-bg-color: #ffc;
$focused-input-highlight-bg-color: rgba(#000, 0.2);
$focused-input-highlight-text-color: #fff;
$error-input-bg-color: #fcc;

%header {
  background: #222;
  @include border-radius($border-radius $border-radius 0 0);
  color: #fff;
  cursor: move;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 10px;
  padding: 8px;

  @media (min-width: $screen-sm-min) {
    padding: 8px 15px;
  }
}

// ============================== //
// Mixins
// ============================== //

@mixin formInputFocus() {
  &:focus {
    background: $focused-input-bg-color;
    color: darken($focused-input-bg-color, 75%);

    &::-webkit-input-placeholder {
      color: darken($focused-input-bg-color, 50%);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: darken($focused-input-bg-color, 50%);
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: darken($focused-input-bg-color, 50%);
    }

    &:-ms-input-placeholder {
      color: darken($focused-input-bg-color, 50%);
    }
  }
}

@mixin formInputError() {
  background: $error-input-bg-color;
  color: darken($error-input-bg-color, 75%);

  &::-webkit-input-placeholder {
    color: darken($error-input-bg-color, 50%);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: darken($error-input-bg-color, 50%);
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: darken($error-input-bg-color, 50%);
  }

  &:-ms-input-placeholder {
    color: darken($error-input-bg-color, 50%);
  }
}

// ============================== //
// Global
// ============================== //

* {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 8px;

  &.noscroll {
    overflow: hidden !important;
    // position: fixed !important;
  }
}

input[type="radio"] {
  margin: 0;
  vertical-align: middle;

  &:not(:first-of-type) {
    @media (min-width: $screen-sm-min) {
      margin-left: 5px;
    }
  }
}

input:not([type="radio"]),
textarea {
  @include formInputFocus();
  height: 20px;
  background: #fff;
  border: none;
  @include border-radius($border-radius);
  color: #444;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 5px;

  &:disabled {
    background: #fff;
    color: #aaa;
    opacity: 1;
  }

  &.error {
    @include formInputError();
  }

  &::selection {
    background: $focused-input-highlight-bg-color;
    color: $focused-input-highlight-text-color;
  }

  &::-moz-selection {
    background: $focused-input-highlight-bg-color;
    color: $focused-input-highlight-text-color;
  }
}

textarea {
  height: 200px;
  resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:not(.icon):not(.ui-dialog-titlebar-close) {
  height: 20px;
  background: $button-bg-color;
  @include border-radius($border-radius);
  border: none;
  color: $button-fg-color;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  padding: 5px;
  text-align: center;

  &:not(:disabled):hover {
    background: $button-bg-color-hover;
    color: $button-fg-color-hover;
  }

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

::selection {
  background: #444;
  color: #fff;
}

::-moz-selection {
  background: #444;
  color: #fff;
}

h1.title {
  color: #444;
  display: inline-block;
  font-size: 24px;
  margin: 0;
  vertical-align: bottom;
}

.title-version {
  color: #ccc;
  display: inline-block;
  font-size: 12px;
  vertical-align: bottom;
}

.col-header {
  @extend %header;

  > .row {
    margin: 0 -5px;

    > .col {
      padding: 0 5px;
    }
  }
}

.col-content {
  padding: 5px 8px 15px;

  @media (min-width: $screen-sm-min) {
    padding: 5px 15px 15px;
  }
}

.actions-wrapper {
  @include clearfix;
  margin: 15px 0 0;

  button {
    float: left;

    &:not(:first-of-type) {
      margin-left: 5px;
    }
  }

  .or {
    height: 20px;
    color: #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 5px;
    text-transform: uppercase;
  }
}

// ============================== //
// jQuery Dialog
// ============================== //

.ui-widget-overlay.custom-overlay {
  background-color: black;
  background-image: none;
  opacity: 0.5;
  z-index: 1001;
}

.ui-dialog {
  border: none !important;
  @include border-radius($border-radius);
  position: fixed;
  padding: 0;

  .ui-dialog-titlebar {
    @extend %header;
    border: none !important;
    cursor: default;
  }

  .ui-dialog-content {
    font-size: 13px;
    line-height: 17px;
    padding: 10px;
  }

  .ui-dialog-titlebar-close {
    width: 18px;
    height: 18px;
    border: none;
    @include border-radius($border-radius);
    background: #fff;
    font-size: 11px;
    color: #444;
    margin: 0;
    line-height: 1;
    padding: 0;
    top: 6px;
    right: 6px;

    &:before {
      content: "\f00d";
      font-family: "FontAwesome";
      font-weight: normal;
    }
  }
}

// ============================== //
// Resets
// ============================== //

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

form {
  margin: 0;
}

// ============================== //
// Top & Middle
// ============================== //

#top-wrapper, #middle-wrapper {
  > .container-fluid {
    padding: 0 2px;

    > .row {
      margin: 0 -2px;

      > .col {
        @include border-radius($border-radius);
        padding: 0 2px;
      }
    }

    .col-inner {
      background: #f0f0f0;
      @include border-radius($border-radius);
      position: relative;
      z-index: 1;
    }
  }
}

// ============================== //
// Top
// ============================== //

#top-wrapper {
  background: #f0f0f0;
  @include border-radius($border-radius);
  margin: 8px 0 10px;
  padding: 15px 8px;

  @media (min-width: $screen-sm-min) {
    margin: 8px 0 4px;
    padding: 15px;
  }
}

// ============================== //
// Middle
// ============================== //

#middle-wrapper {
  margin: 0 -2px;

  > .container-fluid {
    > .row {
      @media (min-width: $screen-sm-min) {
        @include display-flex;
      }

      @media (max-width: $screen-xs-max) {
        > .col:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      > .col {
        position: relative;

        &:before {
          background: #f0f0f0;
          @include border-radius($border-radius);
          content: "";
          display: block;
          pointer-events: none;
          position: absolute;
          top: 0;
          right: 2px;
          bottom: 0;
          left: 2px;
          z-index: 0;
        }
      }
    }
  }
}

// ============================== //
// Dice Form
// ============================== //

#form-wrapper {
  .col-header,
  .form-line .col {
    text-align: center;
  }
}

.form-line {
  margin: 0 0 10px;

  > .row {
    margin: 0 -5px;

    > .col {
      padding: 0 5px;
    }
  }

  input:not([type="radio"]),
  textarea {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}

#dice-input-wrapper {
  input:not([type="radio"]) {
    text-align: center;
  }

  .col:not(.die), .form-line[data-type="dX"] .col {
    padding-top: 5px;
  }
}

#preset-input-wrapper { // @todo Rename this to #preset-form-wrapper.
  border-top: 1px solid #d0d0d0;
  margin-top: 15px;
  padding-top: 10px;

  label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
    text-align: left;
  }
}

// ============================== //
// Presets
// ============================== //

#presets-wrapper {
  .preset-line {
    background: #f0f0f0;
    margin: -5px;
    padding: 5px;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    .name {
      font-size: 13px;
      font-weight: bold;
      line-height: (15/13);
      margin: 0 0 1px;

      .handle {
        cursor: move;
      }
    }

    .dice {
      font-size: 11px;
      margin: 0 0 1px;
    }

    .note {
      color: #999;
      font-size: 11px;
      line-height: normal;
    }

    .actions {
      margin: 5px 0 0;

      @media (min-width: $screen-sm-min) {
        margin: 0;
        text-align: right;
      }

      button {
        width: auto;
        background: none;
        border: none;
        color: $button-bg-color;
        cursor: pointer;
        padding: 0;

        &:not(:first-of-type) {
          margin-left: 2px;
        }

        @media (max-width: $screen-xs-max) {
          // Make everything bigger for the fat-fingered on mobile.
          font-size: 18px;

          &:not(:first-of-type) {
            margin-left: 5px;
          }

          &.delete {
            margin-left: 6px;
            position: relative;
            top: -1px;
          }
        }

        &:not(:disabled):hover {
          color: $button-bg-color-hover;
        }

        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
    }
  }
}

// ============================== //
// Log
// ============================== //

#log-wrapper {
  textarea {
    width: 100%;
    font-family: "droid-sans-mono";

    @media (max-width: $screen-xs-max) {
      height: 400px;
    }

    @media (min-width: $screen-sm-min) {
      height: 645px; // Match the height of the dice form.
    }
  }
}

// ============================== //
// Login Form
// ============================== //

#top-wrapper {
  .post-message {
    font-size: 14px;
    font-weight: bold;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 10px;
    }

    &.success {
      color: #0a0;
    }

    &.error {
      color: #a00;
    }
  }
}

#login-form {
  font-size: 12px;

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }

  @media (min-width: $screen-sm-min) {
    div {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .help-text {
    color: #666;
    font-style: italic;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 10px;
    }
  }

  label {
    font-weight: bold;

    @media (max-width: $screen-xs-max) {
      display: block;
      margin: 0 0 5px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .name-wrapper {
      margin: 0 0 10px;
    }

    .save-form-actions-wrapper {
      margin: 15px 0 0;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
    }
  }
}

// ============================== //
// Sprites
// ============================== //

.sprite.dice {
  width: 30px;
  height: 30px;
  background: url('../sprites/dice.png');
  background-position: 0 0;
  color: #fff;
  font-size: 9px;
  line-height: 30px;
  margin: auto;
  text-align: center;

  &.d4 {
    background-position: 0 0;
  }

  &.d6 {
    background-position: 0 -30px;
  }

  &.d8 {
    background-position: 0 -60px;
  }

  &.d10 {
    background-position: 0 -90px;
  }

  &.d12 {
    background-position: 0 -120px;
  }

  &.d20 {
    background-position: 0 -150px;
  }

  &.d30 {
    background-position: 0 -180px;
  }

  &.d100 {
    background-position: 0 -210px;
  }
}
